@import './variables/global.scss';
@import './themes/dark.scss';
@import './themes/normal.scss';
@import './reset.scss';

.app {
    font:var(--font-m); //по умл

    background:var(--bg-color) ;
    color:var(--primary-color);

    min-height: 100vh;
  
}